<header id="header">
    <h1><a href="index.html">Paper Review <span>by Jonah Goldwater</span></a></h1>
    <a href="<%= user ? '/logout' : '/login' %>"><%= user ? 'Log Out' : 'Log In' %></a>
    <a href="#menu">Menu</a>
</header>