<!DOCTYPE HTML>
<!--
	Tactile by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Paper Review</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Tactile <span>by Pixelarity</span></a></h1>
				<a href="#">Log In</a>
				<a href="#menu">Menu</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
				<ul class="actions stacked">
					<li><a href="#" class="button fit primary">Sign Up</a></li>
					<li><a href="#" class="button fit">Log In</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<article id="main">
				<!-- <header>
					<h2 class="major special">As Reviewer</h2>
					<p>Aliquam ut ex ut interdum donec imperdiet </p>
				</header> -->
				<div class="wrapper">
					<div class="inner">
						<!-- Elements -->
							<h2 id="elements">As Reviewer</h2>
							
								<header>
									<p>Information regarding the paper's you have reviewed</p>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
								
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Manuscript Number</th>
												<th>Current Status</th>
												<th>Article Type</th>
												<th>Article Title</th>
												<th>Final Disposition</th>
												<th>Date Reviewer Invited</th>
												<th>Date Reviewer Agreed</th>
												<th>Date Review Due</th>
												<th>Date Review Submitted</th>
												<th>Days Taken</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1749-084</td>
												<td>Completed</td>
												<td>Original</td>
												<td>Testing Layouts in Mobile and Desktop</td>
												<td>Reject</td>
												<td>10/20/22</td>
												<td>10/22/22</td>
												<td>10/31/22</td>
												<td>10/24/22</td>
												<td>2</td>
											</tr>
											<tr>
												<td>1748-544</td>
												<td>Completed</td>
												<td>Original</td>
												<td>Philosophical Musings on website deisgn</td>
												<td>Accepted</td>
												<td>10/19/22</td>
												<td>10/22/22</td>
												<td>10/31/22</td>
												<td>10/24/22</td>
												<td>2</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
			</article>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section class="about">
						<h4 class="major">Magna Aliquam Feugiat</h4>
						<p>Etiam finibus pharetra purus, imperdiet sagittis mauris hendrerit vitae. In feugiat ante elementum nulla arcu. Maecenas vulputate faucibus, convallis ligula ipsum dolor feugiat tempus adipiscing.</p>
						<ul class="actions">
							<li><a class="button">Learn more</a></li>
						</ul>
					</section>
					<section class="contact-info">
						<h4 class="major">Get in Touch</h4>
						<ul class="contact">
							<li class="icon solid fa-phone">(000) 000-0000</li>
							<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
							<li class="icon brands fa-twitter"><a href="#">@untitled-tld</a></li>
							<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled</a></li>
						</ul>
						<ul class="contact">
							<li class="icon solid fa-home">Untitled Corp<br />1234 Fictional Road<br />Suite 5432<br />Nashville, TN 00000<br />USA</li>
						</ul>
					</section>
				</div>
				<div class="copyright">
					<p>&copy; Untitled Corp. All rights reserved.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
	</body>
</html>